body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-wood-grain-coffee-bean-food-gradient-brown-banner-image_136856.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: lime;
    
}

div {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    font-style: normal;
    width: 600px;
    height: 600px;
    margin: 1em;
    color: #ffff;
    justify-content: center;
    align-items: center;
}
.btn-neon{
    margin: 10px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: aqua;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    
    
}
.btn-neon:hover{
    background: #D2691E;
    box-shadow: 0 0 10px #D2691E,
    0 0 40px #D2691E, 0 0 80px #D2691E;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D2691E);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D2691E);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D2691E);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D2691E);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
h1 {
    font-size: 4em;

}

